[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
lxml = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
forward_proxy = "python3 -m tests.forward_proxy"
reverse_proxy = "python3 -m tests.reverse_proxy"
facebook_client_proxy = "python3 -m tests.facebook_forward_proxy"
facebook_server_proxy = "python3 -m tests.facebook_reverse_proxy"
